# Virtual Environment (Specific to your workspace)
python/forpy/
forpy/

# Python Bytecode and Caching
__pycache__/
*.py[cod]
*$py.class

# Environment Files
.env
.venv
env/
venv/
ENV/

# OS/Editor Specific Files
.DS_Store
.vscode/
.idea/
*.swp

# Ignore Blade specific dependencies and dynamic files
php/Blade/vendor/
php/Blade/cache/*
php/Blade/views/exploit.blade.php

# Ignore Latte dependencies and runtime caches
php/Latte/vendor/
php/Latte/temp/
php/Latte/temp_exploit.latte